/* Override picocss */
:where(:root) {
  cursor: unset;
}

/* Debug button */
fieldset .debugButton {
  /* transition: visibility var(--transition); */
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition);
}
fieldset:active .debugButton,
fieldset:hover .debugButton {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition);
}
