/* Override picocss */
:where(:root) {
  cursor: unset;
}

.dev-features {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.dev-features > * {
  flex: 1;
}
.dev-features > fieldset {
  flex: 0;
}
.dev-features fieldset label {
  white-space: nowrap;
}
.dev-features * {
  margin: 0;
}
.dev-features form button {
  height: 100%;
  width: 100%;
}
.dev-features button {
  padding: 0 4px;
}

.hidden-block {
  opacity: 0;
  transition: opacity var(--transition);
}
.hidden-block:active,
.hidden-block:hover {
  opacity: 1;
  transition: opacity var(--transition);
}
